{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{% static 'assets/images/loader-1.gif' %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader end -->

    <!-- Header-area start -->
    {% include 'include/header.html' %}
    <!-- Header-area end -->

    <!-- Home-area start-->
    <section class="hero-banner hero-banner-1 parallax bg-white">
        <div class="overlay opacity-75"></div>
        <div class="container-fluid">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6">
                    <div class="fluid-left">
                        <div class="banner-content mb-40">
                            <h1 class="title mb-30" data-aos="fade-up" data-aos-delay="100">{{slide.title}}</h1>
                            <p class="text" data-aos="fade-up" data-aos-delay="100">{{slide.descriptions}}
                            </p>
                            <div class="d-flex align-items-center gap-25 flex-wrap mt-40" data-aos="fade-up" data-aos-delay="200">
                                <a href="{% url 'menu' %}" class="btn btn-lg btn-primary rounded-pill" title="Discover Item" target="_self">Подробнее</a>
                                <div class="author d-flex align-items-center gap-15">
                                    <div class="author-img">
                                        <div class="lazy-container rounded-pill ratio ratio-1-1">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{slide.shef.url}}" alt="Person Image">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h6 class="name mb-0 font-sm">
                                            <a href="{% url 'contacts' %}" target="_self" title="Link">{{slide.name}}</a>
                                        </h6>
                                        <span class="designation font-xsm">Генеральный Директор</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up">
                    <div class="banner-image mb-40 parallax-img" data-speed="0.1" data-revert="true">
                        <img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{{slide.image.url}}" alt="Banner Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-img" data-bg-image="{{slide.backimage.url}}"></div>
    </section>
    <!-- Home-area end -->

    <!-- About-area start -->
    <section class="about-area about-1 pt-100 pb-60 bg-white">
        <div class="container">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6" data-aos="fade-up">
                    <div class="image mb-40">
                        <img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{{achievement.image.url}}" alt="Image">

                        <div class="absolute-text bg-primary">
                            <div class="center-text">
                                <span class="h3 color-dark">{{achievement.experience}}</span>
                                <span class="h4 mb-0 color-dark"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up">
                    <div class="content-title pb-10 ps-xl-2">
                        <h2 class="title mb-20">
                           {{achievement.title}}
                        </h2>
                        <div class="content-text">
                            <p>
                                {{achievement.descriptions}}
                            </p>
                        </div>
                        <div class="info-list mt-30">
                            <div class="row gx-xl-5">
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-premium-quality"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">{{achievement.name1}}</h6>
                                            <p class="card-text">{{achievement.mini_descriptions1}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-call-order"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">{{achievement.name2}}</h6>
                                            <p class="card-text">{{achievement.mini_descriptions2}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-nature-product"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">{{achievement.name3}}</h6>
                                            <p class="card-text">{{achievement.mini_descriptions3}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 item mb-30">
                                    <div class="card">
                                        <div class="card-icon rounded-pill">
                                            <i class="ico-support"></i>
                                        </div>
                                        <div class="card-content">
                                            <h6 class="card-title mb-2">{{achievement.name4}}</h6>
                                            <p class="card-text">{{achievement.mini_descriptions4}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-area end -->

    <!-- Category-area start -->
    <section class="category-area category-1 pb-100 bg-img" data-bg-image="{% static 'assets/images/category-bg-1.png' %}">
        <div class="overlay opacity-50"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-center mb-50" data-aos="fade-up">
                        <h2 class="title mb-0">Наши популярные кондитерские изделия</h2>
                    </div>
                </div>
                <div class="col-12" data-aos="fade-up">
                    <div class="swiper category-slider" id="category-slider-1" data-slides-per-view="4" data-swiper-loop="true">
                        <div class="swiper-wrapper">
                            {% for bakery in bakery %}
                            <div class="swiper-slide">
                                <div class="card text-center p-40 rounded-circle">
                                    <div class="card-image mb-10 mx-auto">
                                        <a href="{% url 'shop' %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{{bakery.image.url}}" data-src="{{bakery.image.url}} " alt="Image">
                                        </a>
                                    </div>
                                    <h6 class="card-title lc-1 mb-0"><a href="{% url 'shop' %}" target="_self" title="Chocolate Cake">{{bakery.title}}</a></h6>
                                </div>
                            </div>
                            {% endfor %}
                          
                        </div>
                        <div class="swiper-pagination position-static mt-40" id="category-slider-1-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category-area end -->

    <!-- Product-area start -->
    <section class="product-area product-1 pt-100 pb-75 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-center mb-20" data-aos="fade-up">
                        <h2 class="title mb-30">Узнайте свои любимые кондитерские изделия</h2>
                        <div class="tabs-navigation tabs-navigation-2 mb-30">
                            <ul class="nav nav-tabs border-bottom" data-hover="fancyHover">
                                <li class="nav-item active">
                                    <button class="nav-link hover-effect active btn-lg" data-bs-toggle="tab" data-bs-target="#tab0" type="button">Все</button>
                                </li>
                                {% for category in categories %}
                                    <li class="nav-item">
                                        <button class="nav-link hover-effect btn-lg" data-bs-toggle="tab" data-bs-target="#tab{{ category.id }}" type="button">{{ category.name }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="tab-content" data-aos="fade-up">
                        <div class="tab-pane slide show " id="tab0">
                            <div class="row">
                                {% for menu_item in menu %}
                                    <div class="col-sm-6 col-lg-4 col-xl-3">
                                        <div class="product text-center p-40 rounded-circle mb-25">
                                            <figure class="product-img mb-10 mx-auto">
                                                <a href="{% url 'details'  menu_item.id  %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                                    <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{ menu_item.image.url }}" alt="Image">
                                                </a>
                                                <div class="hover-show">
                                                    <a href="{% url 'cart' %}" class="btn btn-md btn-primary rounded-pill" title="Add to Cart" target="_self">В корзину</a>
                                                </div>
                                            </figure>
                                            <div class="product-details">
                                                <h5 class="product-title lc-1 mb-1"><a href="{% url 'details' menu_item.id %}" target="_self" title="Butter Bread">{{ menu_item.title }}</a></h5>
                                                <div class="product-price">
                                                    <span class="h6 new-price color-primary">{{ menu_item.price_now }}</span>
                                                    <span class="prev-price font-sm">{{ menu_item.price_before }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for category in categories %}
                            <div class="tab-pane slide show" id="tab{{ category.id }}">
                                <div class="row">
                                    {% for menu_item in menu %}
                                        {% if menu_item.category == category %}
                                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                                <div class="product text-center p-40 rounded-circle mb-25">
                                                    <figure class="product-img mb-10 mx-auto">
                                                        <a href="{% url 'details' menu_item.id %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{ menu_item.image.url }}" alt="Image">
                                                        </a>
                                                        <div class="hover-show">
                                                            <a href="{% url 'cart' %}" class="btn btn-md btn-primary rounded-pill" title="Add to Cart" target="_self">В корзину</a>
                                                        </div>
                                                    </figure>
                                                    <div class="product-details">
                                                        <h5 class="product-title lc-1 mb-1"><a href="{% url 'details' menu_item.id  %}" target="_self" title="Butter Bread">{{ menu_item.title }}</a></h5>
                                                        <div class="product-price">
                                                            <span class="h6 new-price color-primary">{{ menu_item.price_now }}</span>
                                                            <span class="prev-price font-sm">{{ menu_item.price_before }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="cta-btn text-center mt-15 mb-25">
                        <a href="{% url 'shop' %}" class="btn btn-lg btn-primary rounded-pill" title="More Items" target="_self">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Product-area end -->

    <!-- Product-area start -->
    <section class="product-area product-lg-1 pt-100 pb-70 bg-img" data-bg-image="{% static 'assets/images/product-bg-1.jpg' %}">
        <div class="overlay opacity-85"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-center mb-50" data-aos="fade-up">
                        <h2 class="title">
                            Предлагаем низкие цены на всю хлебобулочную продукцию.</h2>
                    </div>
                </div>
                <div class="col-12" data-aos="fade-up">
                    <div class="row">
                        {% for discount in discount %}
                        <div class="col-md-6 col-xl-4">
                            <div class="product text-center p-30 radius-md mb-30">
                                <div class="inner">
                                    <figure class="product-img mb-10 mx-auto">
                                        <a href="{% url 'details' discount.id  %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{discount.image.url}}" alt="Image">
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h3 class="product-title lc-1 mb-10"><a href="{% url 'details' discount.id %}" target="_self" title="Fresh Bred & Danish">{{discount.title}}</a></h3>
                                        <div class="product-price mb-15">
                                            <span class="h4 new-price">{{discount.price_now}}</span>
                                            <span class="prev-price">{{discount.price_before}}</span>
                                        </div>
                                        <p class="product-text mb-25">{{discount.descriptions}}</p>
                                        <a href="{% url 'cart' %}" class="btn btn-lg btn-outline rounded-pill" title="Place Your Order" target="_self">Заказать</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product-area end -->

    <!-- Testimonial-area start -->
    <section class="testimonial-area testimonial-1 pt-100 pb-60">
        <div class="overlay opacity-85"></div>
        <div class="container">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6">
                    <div class="content-title mb-40" data-aos="fade-up">
                        <h2 class="title mb-20">
                            
Замечательные слова наших довольных клиентов
                        </h2>
                        <div class="content-text mb-40">
                            <p>
                                {{clients.descriptions}}
                            </p>
                        </div>
                    </div>
                    <div class="swiper mb-40" id="testimonial-slider-1" data-aos="fade-up">
                        <div class="swiper-wrapper">
                            {% for clients in clients.clients_words.all %}
                            <div class="swiper-slide">
                                <div class="slider-item radius-md">
                                    <div class="client gap-20 flex-wrap">
                                        <div class="client-info d-flex align-items-center">
                                            <div class="client-img">
                                                <div class="lazy-container rounded-circle ratio ratio-1-1">
                                                    <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{clients.image2.url}}" alt="Person Image">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h6 class="name mb-1">{{clients.name}}</h6>
                                                <span class="designation font-sm"></span>
                                            </div>
                                        </div>
                                        <div class="ratings size-md flex-column align-items-start gap-2">
                                            <div class="rate">
                                                <div class="rating-icon"></div>
                                            </div>
                                            <div class="ratings-total">5 звезд из 20 отзывов</div>
                                        </div>
                                    </div>
                                    <div class="quote">
                                        <span class="icon"><i class="fal fa-quote-right"></i></span>
                                        <p class="text font-lg mb-0">
                                            {{clients.descriptions2}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination position-static mt-30" id="testimonial-slider-1-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image mb-40" data-aos="fade-left">
                        <img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{{clients.image.url}}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial-area end -->

    <!-- Blog-area start -->
    <section class="blog-area blog-1 pt-100 pb-75">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="col-12">
                        <div class="section-title title-inline mb-50" data-aos="fade-up">
                            <div>
                                <h2 class="title">Наши публикации</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        {% for news in news %}
                            {% if forloop.counter <= 3 %}
                                <div class="col-xl-4 col-md-6" data-aos="fade-up">
                                    <article class="card mb-25 radius-md">
                                        <div class="card-img">
                                            <a href="blog-details.html" target="_self" title="Link" class="lazy-container ratio ratio-5-3">
                                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{news.image.url}}" alt="Blog Image">
                                            </a>
                                        </div>
                                        <div class="card-content radius-md p-25">
                                            <ul class="card-list list-unstyled mb-15">
                                                
                                                <li class="font-sm icon-start">
                                                    <a href="blogs.html" target="_self" title="Link"><i class="fal fa-calendar-check"></i>{{news.created_at}}</a>
                                                </li>
                                                
                                            </ul>
                                            <h4 class="card-title lc-2 mb-15">
                                                <a href="{% url 'blog_details' news.id %}" target="_self" title="Link">
                                                    {{news.title}}
                                                </a>
                                            </h4>
                                            <a href="{% url 'blogs' %}" class="btn-text color-primary" target="_self" title="Read More">Подробнее</a>
                                        </div>
                                    </article>
                                </div>
                            {% endif %} 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Блок надо подключить  -->
    <!-- Blog-area end -->

    <!-- Gallery-area start -->
    <div class="gallery-area" data-aos="fade-up">
        <div class="container">
            <div class="swiper gallery-slider">
                <div class="swiper-wrapper">
                    {% for allfood in allfood %}
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{allfood.image.url}}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{{lastpost.instagram.url}}" alt="Image"></div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Gallery-area end -->

    <!-- Footer-area start -->
    {% include "include/footer.html" %}
    <!-- Footer-area end-->

    <!-- Go to Top -->
    <div class="go-top"><i class="fal fa-angle-up"></i></div>
    <!-- Go to Top -->

{% endblock %}