{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{% static 'assets/images/loader-1.gif' %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader end -->

    <!-- Header-area start -->
    {% include 'include/header.html' %}
    <!-- Header-area end -->

    <!-- Breadcrumb start -->
    <div class="breadcrumb-area bg-img bg-cover" data-bg-image="{{slideabout.image.url}}">
        <div class="overlay 65"></div>
        <div class="container">
            <div class="content text-center">
                <h2 class="color-white">Блок</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Блок</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->
    
    <!-- Blog-area start -->
    <div class="blog-area blog-1 pt-100 pb-75">
        <div class="container">
            <div class="row">
                {% for news in news %}
                <div class="col-xl-4 col-md-6" data-aos="fade-up">
                    <article class="card mb-25 radius-md">
                        <div class="card-img">
                            <a href="{% url 'blog_details' news.id %}" target="_self" title="Link" class="lazy-container ratio ratio-5-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{news.image.url}}" alt="Blog Image">
                            </a>
                        </div>
                        <div class="card-content radius-md p-25 border">
                            <ul class="card-list list-unstyled mb-15">
                                <li class="font-sm icon-start">
                                    <a href="{% url 'blog_details' news.id %}" target="_self" title="Link"><i class="fal fa-calendar-check"></i>{{news.created_at}}</a>
                                </li>
                            </ul>
                            <h4 class="card-title lc-2 mb-15">
                                <a href="{% url 'blog_details' news.id %}" target="_self" title="Link">
                                    {{news.title}}
                                </a>
                            </h4>
                            <a href="{% url 'blog_details' news.id %}" class="btn-text color-primary" target="_self" title="Read More">Подробнее</a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            <nav class="pagination-nav mt-15 mb-25" data-aos="fade-up">
                <ul class="pagination justify-content-center">
                    {% if news.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <i class="far fa-angle-left"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item {% if i == news.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if news.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.next_page_number }}" aria-label="Next">
                                <i class="far fa-angle-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <!-- Blog-area end -->

    <!-- Gallery-area start -->
    <div class="gallery-area" data-aos="fade-up">
        <div class="container">
            <div class="swiper gallery-slider">
                <div class="swiper-wrapper">
                    {% for allfood in allfood %}
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{allfood.image.url}}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/    images/placeholder.png' %}" data-src="{{lastpost.instagram.url}}" alt="Image"></div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Gallery-area end -->

    <!-- Footer-area start -->
    {% include "include/footer.html" %}
    <!-- Footer-area end-->

    <!-- Go to Top -->
    <div class="go-top"><i class="fal fa-angle-up"></i></div>
    <!-- Go to Top -->

{% endblock %}