{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{% static 'assets/images/loader-1.gif' %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader end -->

    <!-- Header-area start -->
    {% include 'include/header.html' %}
    <!-- Header-area end -->

    <!-- Breadcrumb start -->
    <div class="breadcrumb-area bg-img bg-cover" data-bg-image="{{slideabout.image.url}}">
        <div class="overlay 65"></div>
        <div class="container">
            <div class="content text-center">
                <h2 class="color-white">Магазин</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">магазин</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Shop-area start -->
    <div class="shop-area pt-100 pb-75">
        <div class="container">
            <!-- Ваши другие элементы HTML -->
            <div class="product-sort-area pb-10" data-aos="fade-up">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h4 class="mb-20">
                            Показаны 1–12 из 16 результатов</h4>
                    </div>
                    
                </div>
            </div>
            <!-- Продукты -->
            <div class="row">
                {% for food_item in food %}
                    <div class="col-sm-6 col-lg-4 col-xl-3 item">
                        <!-- Ваши существующие блоки продуктов -->
                        <div class="product radius-md text-center p-30 mb-25">
                            
                            <figure class="product-img mb-20 mx-auto">
                                <a href="{% url 'details' food_item.id  %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                    <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{food_item.image.url}}" alt="Image">
                                </a>
                                <div class="hover-show">
                                    <div class="btn-groups">
                                        <a href="{% url 'details' food_item.id %}" class="btn-icon rounded-circle" title="Quick View" target="_self">
                                            <i class="fal fa-eye"></i>
                                        </a>
                                        <form method="post" action="{% url 'add_to_cart' food_item.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn-icon rounded-circle" title="Add to Cart">
                                                <i class="fal fa-shopping-cart"></i>
                                            </button>
                                        </form>
                                        <form method="post" action="{% url 'add_to_wishlist' food_item.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn-icon rounded-circle" title="Add to Wishlist">
                                                <i class="fal fa-heart"></i>
                                            </button>
                                        </form>
                                        
                                    </div>
                                </div>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-title lc-1 mb-10"><a href="{% url 'details' food_item.id %}" target="_self" title="Vanilla Cold Coffee">{{food_item.title}}</a></h4>
                                <div class="product-price"> 
                                    <span class="h6 font-lg new-price color-primary">{{food_item.price_now}}</span>
                                    <span class="prev-price font-sm">{{food_item.price_before}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- ... -->
                    </div>
                {% endfor %}
            </div>
        
            <!-- Пагинация -->
            <nav class="pagination-nav mt-15 mb-25" data-aos="fade-up">
                <ul class="pagination justify-content-center">
                    {% if food.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <i class="far fa-angle-left"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in food.paginator.page_range %}
                        <li class="page-item {% if food.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if food.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ food.paginator.num_pages }}" aria-label="Next">
                                <i class="far fa-angle-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
    </div>
    <!-- Shop-area end -->

    <!-- Gallery-area start -->
    <div class="gallery-area" data-aos="fade-up">
        <div class="container">
            <div class="swiper gallery-slider">
                <div class="swiper-wrapper">
                    {% for allfood in allfood %}
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{allfood.image.url}}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{{lastpost.instagram.url}}" alt="Image"></div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Gallery-area end -->

    <!-- Footer-area start -->
    {% include "include/footer.html" %}
    <!-- Footer-area end-->

    <!-- Go to Top -->
    <div class="go-top"><i class="fal fa-angle-up"></i></div>
    <!-- Go to Top -->

    <!-- Jquery JS -->
{% endblock %}