{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{% static 'assets/images/loader-1.gif' %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader end -->

    <!-- Header-area start -->
    {% include 'include/header.html' %}
    <!-- Header-area end -->

    <!-- Breadcrumb start -->
    <div class="breadcrumb-area bg-img bg-cover" data-bg-image="{{slideabout.image.url}}">
        <div class="overlay 65"></div>
        <div class="container">
            <div class="content text-center">
                <h2 class="color-white">Избранные</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Избранные</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Shopping-area Start -->
    <div class="shopping-area cart ptb-100">
        <div class="container">
            <div class="row justify-content-center gx-xl-5">
                <div class="col-lg-9">
                    <form>
                        <div class="item-list border radius-md table-responsive">
                            <table class="shopping-table">
                                <thead>
                                    <tr class="table-heading">
                                        <th scope="col" colspan="2" class="first">Продукты</th>
                                        <th scope="col">Количество</th>
                                        <th scope="col">Запас</th>
                                        <th scope="col">Цена</th>
                                        <th scope="col" class="last">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for wishlist_items in wishlist_items %}
                                    <tr class="item">
                                        <td class="product-img">
                                            <div class="image">     
                                                <a href="{% url 'details' wishlist_items.id %}" class="lazy-container radius-md ratio ratio-1-1">
                                                    <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{ wishlist_items.image.url }}" alt="Product">
                                                </a>
                                            </div>
                                        </td>
                                        <td class="product-desc">
                                            <h6>
                                                <a class="product-title mb-10" href="{% url 'details' wishlist_items.id %}">{{ wishlist_items.title }}</a>
                                            </h6>
                                            <div class="ratings">
                                                <div class="rate">
                                                    <div class="rating-icon"></div>
                                                </div>
                                                <span class="ratings-total"></span>
                                            </div>
                                        </td>
                                        <td class="qty">
                                            <div class="quantity-input">
                                                <div class="qty-btn quantity-down">
                                                    <i class="fal fa-minus"></i>
                                                </div>
                                                <input type="text" value="{{ wishlist_items.quantity }}" name="quantity" spellcheck="false" data-ms-editor="true">
                                                <div class="qty-btn quantity-up">
                                                    <i class="fal fa-plus"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="product-availability">
                                            <span class="badge bg-success">In Stock</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-0">{{ wishlist_items.price }}</h6>
                                        </td>
                                        <td class="text-end">
                                            <a href="{% url 'remove_from_wishlist' wishlist_items.id %}" class="btn btn-remove rounded-pill mx-auto">
                                                <i class="fal fa-trash-alt"></i>
                                            </a>
                                        </td>    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-groups mt-30">
                            
                            <a href="{% url 'cart' %}" class="btn btn-md btn-primary" title="Update Cart" target="_self">Обновить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Shopping-area End -->

    <!-- Gallery-area start -->
    <div class="gallery-area" data-aos="fade-up">
        <div class="container">
            <div class="swiper gallery-slider">
                <div class="swiper-wrapper">
                    {% for allfood in allfood %}
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{allfood.image.url}}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{{lastpost.instagram.url}}" alt="Image"></div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Gallery-area end -->

    <!-- Footer-area start -->
    {% include 'include/footer.html' %}
    <!-- Footer-area end-->

    <!-- Go to Top -->
    <div class="go-top"><i class="fal fa-angle-up"></i></div>
    <!-- Go to Top -->
{% endblock %}